<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kushagr_jolly.potenza_pvt_ltd" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ToDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubmitActivity"
            android:label="@string/title_activity_truck_details" >
        </activity>
        <activity
            android:name=".TypeofOperator"
            android:label="@string/title_activity_typeof_operator" >
        </activity>
        <activity
            android:name=".ParkingSlot"
            android:label="@string/title_activity_parking_slot" >
        </activity>
        <activity
            android:name=".Manager"
            android:label="@string/title_activity_manager" >
        </activity>
        <activity
            android:name=".CardViewActivity"
            android:label="@string/title_activity_card_view" >
        </activity>
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".CalculateFare"
            android:label="@string/title_activity_calculate_fare" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".ShiftOpen"
            android:label="@string/title_activity_shift_open" >
        </activity>
        <activity
            android:name=".Collections"
            android:label="@string/title_activity_collections" >
        </activity>
        <activity
            android:name=".ShiftClose"
            android:label="@string/title_activity_shift_close" >
        </activity>
        <activity
            android:name=".Masters"
            android:label="@string/title_activity_masters" >
        </activity>
        <activity
            android:name=".CreateManager"
            android:label="@string/title_activity_create_manager" >
        </activity>
        <activity
            android:name=".CustomAdapter"
            android:label="@string/title_activity_custom_adapter" >
        </activity>
        <activity
            android:name=".CreateOperator"
            android:label="@string/title_activity_create_operator" >
        </activity>
        <activity
            android:name=".Vehicle_Type"
            android:label="@string/title_activity_vehicle__type" >
        </activity>
    </application>

</manifest>
