<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.potenza_pvt_ltd.AAPS" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.potenza_pvt_ltd.AAPS.ToDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.SubmitActivity"
            android:label="@string/title_activity_truck_details" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.TypeofOperator"
            android:label="@string/title_activity_typeof_operator" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.ParkingSlot"
            android:label="@string/title_activity_parking_slot" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.Manager"
            android:label="@string/title_activity_manager" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.CardViewActivity"
            android:label="@string/title_activity_card_view" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.Admin"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.CalculateFare"
            android:label="@string/title_activity_calculate_fare" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.ShiftOpen"
            android:label="@string/title_activity_shift_open" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.Collections"
            android:label="@string/title_activity_collections" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.ShiftClose"
            android:label="@string/title_activity_shift_close" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.Masters"
            android:label="@string/title_activity_masters" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.CreateManager"
            android:label="@string/title_activity_create_manager" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.CustomAdapter"
            android:label="@string/title_activity_custom_adapter" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.CreateOperator"
            android:label="@string/title_activity_create_operator" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.Vehicle_Type"
            android:label="@string/title_activity_vehicle__type" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.PSActivity"
            android:label="@string/title_activity_ps" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.Transporter"
            android:label="@string/title_activity_transporter" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.TariffActivity"
            android:label="@string/title_activity_tariff" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.ReportsActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.SummaryReports"
            android:label="@string/title_activity_summary_reports" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.DeviceSetting"
            android:label="@string/title_activity_device_setting" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.InslipReports"
            android:label="@string/title_activity_inslip_reports" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.OutslipReports"
            android:label="@string/title_activity_outslip_reports" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.SlotReport"
            android:label="@string/title_activity_slot_report" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.TransporterAccounts"
            android:label="@string/title_activity_transporter_accounts" >
        </activity>
        <activity
            android:name="com.potenza_pvt_ltd.AAPS.PrintActivity"
            android:label="@string/title_activity_transporter_accounts" >
        </activity>
    </application>

</manifest>
